<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Spotify Attributes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  
    <!-- Header -->
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-custom" id=box1>
        <a  id="Home" href="/">Home</a>

        <div class="container">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5">
              <li class="nav-item">
                <a class="nav-link" id="otherfonts" href="/Visualisations.html">2020 Charts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="otherfonts" href="/Visualisations2.html">Song Attributes Through the Years</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="otherfonts" href="/questions.html">Popularity Predictor</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>


  <div class= "container-fluid"></div> 
      <style>
          body {
  
  background: url('static/images/spotify-logo.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
       }
      </style>

      <div class="welcomebox"> 
        <h1 id="welcomefont"> Spotify 2020 Charts and Song Attributes Analysis</h1>
        <br></br>
        <p> Click <a href="Visualisations.html">here</a> to find out what songs and artists were streamed most in 2020. </p>
        <p> Click <a href="Visualisations2.html">here</a> to find out how song attributes have changed over the years. </p>
        <p> Click <a href="questions.html">here</a> to find out if your song will be popular on Spotify. </p>
  
      
      </div>


    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
